# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
.env.production

# Node
node_modules/
frontend/dist/

# Data
source/
output/
tmp/
logs/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.pid
